.cs1{
text-align: center;
background: none;
border-bottom: 10px 0px;
color: azure;

}
.cs2{

    text-align: left;
}
.cs3{
    text-align: left;
}
body{
    background: greenyellow;
}
